@font-face {
  font-family: "kg_life";
  src: url("../media/fuentes/KGLifeisMessy.ttf");
}

.kglife {
    font-family: "kg_life";
    color: #EC6C1A;
    font-size: 30px;
}

.contenedor {
    padding-top: 100px;
    margin-bottom: 350px;
}

.centered {
    text-align:center;
}
.centrado {
    margin-right: auto;
    margin-left: auto;
}

/*Cabecera*/
.logo {
    width: 130px;
    margin: 5px;
}

/* No se para que sirve { */
.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
/* } */
/*fin cabecera*/

/*contenedor*/
.frases {
    background-image: url('../media/img/FondoDivFrases.png');
    background-repeat: no-repeat;
    height: 360px;
    padding: 70px 105px 20px 90px;
}

.bienvenida {
    background-repeat: no-repeat;
    background-image: url('../media/img/FondoDivComenzar.png');
    height: 360px;
    padding: 50px 105px 20px 90px;
}

/*Para movil*/
@media only screen and (max-width : 450px) {
    html { font-size:0.2em; }
    .frases { padding: 45px 35px 0px 50px;}
    .bienvenida { padding: 40px 35px 0px 50px;}
    .sobreNos, .enlacesInt. #rallaLogin, #login, #LOGEADO { display: none; }
    #social { margin: 0; padding: 0; }
}

.formulario {
    visibility: hidden;
    background-repeat: no-repeat;
    background-image: url('../media/img/formulario.png');
    padding: 50px 0px 20px 0px;
    margin-left: 10px;
}


/*video*/
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url() no-repeat;*/
    background-size: cover; 
}
video { display: block; }
/*fin video*/

.required {
    color: red;
}

/*footer*/
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-gh:hover {
    color: black;
}
#social-em:hover {
    color: #f39c12;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
}

ul {
    list-style-type: none;
}

/*fin footer*/

/*login*/
#login {
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    height: 230px;
    background-color: #FDFDFD;
}

#LOGEADO {
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    height: 230px;
    visibility: hidden;
    background-color: #FDFDFD;
}

#rallaLogin {
    position: absolute;
    top: 245px;
    right: 8px;
    width: 206px;
}


/*botones*/
.botoncomenzar {
    width: 160px;
}

.vuelos {
    border: 2px solid black;
    background-color: white;
}

#RESULTADO_DE_VUELOS { 
    background-image: url("../media/img/divPrincipal.png");
    background-repeat: no-repeat;
    padding: 50px 40px 20px 0px;
    margin-left: 11px;
    display: none;
}

#alerta { visibility: hidden; margin-top: 20px; }

.bolditalic {
    font-weight: bold;
    font-style: italic;
}

.imagenDestino, .imgResultVuelos {
    height: auto;
    max-width: 100%;
}

.bordeNaranja { border: 2px solid #EC6C1A; }
.anchoResVuelos { height: 150px; background-color: white; }
.margenResVuelos { margin-left: 50px; }
.pvpResVuelos { color: grey; padding-top: 50px;}
.pvpPerResVuelos { color: grey;  }
.pvpFinal { padding-left: 37px; color: black; }
.pvpFinalFinal { font-family: "kg_life"; font-size: 30px;}
.row { margin: 10px; }
.imgFormu {
    background-image: url("../media/img/imgFormu.png");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 430px;
    background-size: 100% 100%;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
}
/*Mis reservas {*/
.reserva { 
    padding: 10px 0px 10px 0px;
}
.red { background-color: #AA2C2C;}
.green { background-color: #48BB6E;}
.oculto { display: none; }
/*}*/