.contenedor {
    padding-top: 100px;
    margin-bottom: 350px;
}

.centered {
    text-align:center;
}
.centrado {
    margin-right: auto;
    margin-left: auto;
}

/*Cabecera*/
.logo {
    width: 130px;
    margin: 5px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
/*fin cabecera*/

/*contenedor*/
.frases {
    background-image: url('../media/img/FondoDivFrases.png');
    background-repeat: no-repeat;
    height: 360px;
    padding: 70px 105px 20px 90px;
}

.bienvenida {
    background-repeat: no-repeat;
    background-image: url('../media/img/FondoDivComenzar.png');
    height: 360px;
    padding: 50px 105px 20px 90px;
}

.formulario {
    visibility: hidden; 
    background-repeat: no-repeat;
    background-image: url('../media/img/formulario.png');
    padding: 50px 0px 20px 0px;
    margin-left: 10px;
}

/*video*/
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url() no-repeat;*/
    background-size: cover; 
}
video { display: block; }
/*fin video*/

.required {
    color: red;
}

/*footer*/
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-gh:hover {
    color: black;
}
#social-em:hover {
    color: #f39c12;
}

.footer {
  width: 100%;
  background-color: #f5f5f5;
}

ul {
    list-style-type: none;
}

/*fin footer*/

/*login*/
#login {
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    background-image: url('../media/img/FondoDivLogin.png');
    height: 230px;
    background-repeat: no-repeat;
}

#LOGEADO {
    font-size: 12px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 5px;
    background-image: url('../media/img/FondoDivLogin.png');
    height: 230px;
    background-repeat: no-repeat;
    visibility: hidden;
}
/*Para movil*/
@media only screen and (max-width : 400px) {
    #login { display: none; }
    #LOGEADO { display: none; }
    html { font-size:0.1em; }
    .frase { font-size: 27px; }
}

/*botones*/
.botoncomenzar {
    width: 160px;
}

.vuelos {
    border: 2px solid black;
    background-color: white;
}

#RESULTADO_DE_VUELOS { background-color: white; }

#alerta { visibility: hidden; }